<div class="mt-3">
  <p-panel [header]="titleName" [toggleable]="true">
    <form [formGroup]="formGroup">
      <div class="grid p-fluid">
        <div class="col-12 md:col-2 lg:col-2">
          <label for="APISERVER" class="bpaas-required">查詢帳中API主機</label>
          <p-dropdown
            id="APISERVER"
            [options]="options"
            formControlName="APISERVER"
            optionValue="value"
            optionLabel="label"
            placeholder="請選擇"
            [ngClass]="{ 'ng-dirty': formControlInvalid('APISERVER') }"
          >
          </p-dropdown>
          <div *ngIf="formControlInvalid('APISERVER')">
            <small
              class="p-error"
              *ngIf="formControl('APISERVER').errors?.['required']"
            >
              此欄位必須輸入
            </small>
          </div>
        </div>

        <div class="col-12 md:col-2 lg:col-2">
          <label for="bhno" class="bpaas-required">分公司</label>
          <p-dropdown
            id="bhno"
            [options]="branchOptions"
            formControlName="bhno"
            optionValue="value"
            optionLabel="label"
            placeholder="請選擇"
            [ngClass]="{ 'ng-dirty': formControlInvalid('bhno') }"
          >
          </p-dropdown>
          <div *ngIf="formControlInvalid('bhno')">
            <small
              class="p-error"
              *ngIf="formControl('bhno').errors?.['required']"
            >
              此欄位必須輸入
            </small>
          </div>
        </div>

        <div class="col-12 md:col-2 lg:col-2">
          <label for="cseq" class="bpaas-required">客戶帳號</label>
          <input
            type="text"
            id="cseq"
            pInputText
            formControlName="cseq"
            maxlength="7"
            [ngClass]="{ 'ng-dirty': formControlInvalid('cseq') }"
          />
          <small *ngIf="formGroup.controls['cseq']?.touched" class="p-error">
            {{ showErrorMessage('cseq') }}
          </small>
        </div>
        <div class="col-12 md:col-4 lg:col-4">
          <app-stock-suggestions
            [stockControl]="stockControl"
            [stockNameControl]="stockNameControl"
          ></app-stock-suggestions>
        </div>
        <div class="col-12 md:col-2 lg:col-2">
          <label class="mr-2" for="type">顯示模式</label>
          <p-dropdown
            [options]="typeOptions"
            formControlName="type"
            optionLabel="typeName"
          />
        </div>
      </div>

      <div class="grid p-fluid">
        <div class="col-12 md:col-2 lg:col-2">
          <label class="mr-2" for="ttype">交易類別</label>
          <p-dropdown
            [options]="tTypeOptions"
            formControlName="ttype"
            optionLabel="typeName"
          />
        </div>
        <div class="col-12 md:col-2 lg:col-2">
          <label class="mr-2" for="ctype">幣別</label>
          <p-dropdown
            [options]="cTypeOptions"
            formControlName="ctype"
            optionLabel="typeName"
          />
        </div>
      </div>
      <div class="grid p-fluid justify-content-end bpaas-button-row">
        <span class="link-url my-auto mr-2" (click)="showDialog()"
          >計算方式</span
        >
        <div *ngIf="buttonList.query" class="col-12 md:col-3 lg:col-2">
          <button
            type="submit"
            pButton
            label="查詢"
            (click)="onSearch()"
          ></button>
        </div>
        <div *ngIf="buttonList.query" class="col-12 md:col-3 lg:col-2">
          <button
            type="button"
            pButton
            label="清除"
            class="p-button-outlined mr-2"
            (click)="onClearForm()"
          ></button>
        </div>
      </div>
    </form>
  </p-panel>
  <div class="flex justify-content-between mb-3 align-items-center">
    <div *ngIf="queryTime">資料查詢時間：{{ queryTime }}</div>
    <!-- <div *ngIf="hasSearched && buttonList.download" class="text-right">
      <button
        pButton
        type="button"
        label="匯出 Excel"
        icon="pi pi-file-excel"
        (click)="doExportToExcel()"
      ></button>
    </div> -->
  </div>
  <div>
    <p-panel [showHeader]="false">
      <p-table
        #tableCopmonent
        [value]="FilterData"
        [columns]="tableColumns"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 15, 20]"
        scrollHeight="50vh"
        [scrollable]="true"
        styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
        [resizableColumns]="true"
        currentPageReportTemplate="顯示第 {first} 至 {last} 筆，共 {totalRecords} 筆"
        [totalRecords]="FilterData.length"
      >
        <ng-template pTemplate="header">
          <tr id="bpaas-table-header">
            <th
              *ngFor="let column of tableColumns"
              [pSortableColumn]="column.sortable ? column.field : ''"
              [pSortableColumnDisabled]="
                column.sortable && column.field !== 'no' ? false : true
              "
              [id]="'th-' + column.header"
              pResizableColumn
            >
              {{ column.header }}
              <p-sortIcon
                *ngIf="column.sortable && column.field !== 'no'"
                [field]="column.field"
              ></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-offer let-rowIndex="rowIndex">
          <tr>
            <td
              *ngFor="let header of tableColumns"
              [class.bpaas-align-right]="header.numberField"
            >
              <ng-container *ngIf="header.numberField">
                {{
                  offer[header.field] ??
                    (header.numberFieldDefaultZero ? 0 : '') | dynamicDecimal
                }}
              </ng-container>
              <ng-container *ngIf="!header.numberField">
                {{ offer[header.field] }}
              </ng-container>
              <ng-container *ngIf="!header.field">
                {{ rowIndex + 1 }}</ng-container
              >
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [colSpan]="tableColumns.length + 1">沒有符合條件的資料</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>

    <p-panel header="合計" [toggleable]="true">
      <p-table
        [value]="FilterTotalData"
        [columns]="summaryTableColumns"
        scrollHeight="50vh"
        styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
        [totalRecords]="FilterData.length"
      >
        <ng-template pTemplate="header" let-columns>
          <tr id="bpaas-table-header">
            <th
              *ngFor="let column of columns"
              [pSortableColumn]="column.sortable ? column.field : ''"
              [pSortableColumnDisabled]="column.sortable ? false : true"
              scope="col"
              pResizableColumn
            >
              <label for="{{ column.field }}">
                {{ column.header }}
              </label>
              <p-sortIcon
                *ngIf="column.sortable"
                [field]="column.field"
              ></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowData
          let-rowIndex="rowIndex"
          let-columns="columns"
        >
          <tr>
            <td
              *ngFor="let column of columns"
              [class.bpaas-align-right]="column.numberField"
            >
              <ng-container *ngIf="column.numberField">
                {{
                  rowData[column.field] ??
                    (column.numberFieldDefaultZero ? 0 : '') | dynamicDecimal
                }}
              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [colSpan]="summaryTableColumns.length + 2">
              沒有符合條件的資料
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="計算方式"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50%' }"
    [draggable]="false"
  >
    <div class="p-count-dialog-container">
      <div class="title">成交回報損益</div>
      <div class="content-section">
        1、預估收付：<br />
        （現買）＝ 買進價金 ＋ 手續費<br />
        （現賣）＝ 賣出價金 － 相關稅費<br />
        （資買）＝（買進價金 － 融資金額）＋ 手續費<br />
        （資賣）＝（賣出價金 － 融資金額 － 利息）－ 相關稅費<br />
        （券買）＝（擔保品 ＋ 保證金 ＋ 利息收入）－（買進價金 ＋ 手續費）<br />
        （券賣）＝ 融券保證金<br />
        （資沖）＝ 買進價金 ＋ 手續費<br />
        （券沖）＝ 賣出價金 － 相關稅費<br /><br />
        2、參考成本：<br />
        （現賣）＝ 買進價金 ＋ 手續費<br />
        （資賣）＝ 自備款 ＋ 手續費<br />
        （券買）＝ 原融券保證金<br />
        （券沖）＝ 買進價金 ＋ 手續費<br /><br />
        3、損益試算 ＝ 預估收付 － 參考成本<br /><br />
        4、獲利率 ＝ 損益試算 ÷ 參考成本 × 100％
      </div>
    </div>
  </p-dialog>
</div>
