<div class="mt-3">
  <form [formGroup]="formGroup">
    <p-panel [header]="titleName" [toggleable]="true">
      <div class="card">
        <div class="grid p-fluid">
          <div class="col-12 md:col-2 lg:col-2">
            <label for="APISERVER" class="bpaas-required"
              >查詢帳中API主機</label
            >
            <p-dropdown
              id="APISERVER"
              [options]="apiServerOptions"
              formControlName="APISERVER"
              optionValue="value"
              optionLabel="label"
              placeholder="請選擇"
              [ngClass]="{ 'ng-dirty': formControlInvalid('APISERVER') }"
            ></p-dropdown>
            <small *ngIf="formControlInvalid('APISERVER')" class="p-error">
              {{ showErrorMessage('APISERVER') }}
            </small>
          </div>
          <div class="col-12 md:col-2 lg:col-2">
            <label for="bhno" class="bpaas-required">分公司</label>
            <p-dropdown
              id="bhno"
              [options]="branchOptions"
              formControlName="bhno"
              optionValue="value"
              optionLabel="label"
              placeholder="請選擇"
              [ngClass]="{ 'ng-dirty': formControlInvalid('bhno') }"
            ></p-dropdown>
            <small *ngIf="formControlInvalid('bhno')" class="p-error">
              {{ showErrorMessage('bhno') }}
            </small>
          </div>
          <div class="col-12 md:col-2 lg:col-2">
            <label for="cseq" class="bpaas-required">客戶帳號</label>
            <input
              id="cseq"
              pInputText
              type="text"
              formControlName="cseq"
              [ngClass]="{ 'ng-dirty': formControlInvalid('cseq') }"
            />
            <small *ngIf="formControlInvalid('cseq')" class="p-error">
              {{ showErrorMessage('cseq') }}
            </small>
          </div>
          <div class="col-12 md:col-4 lg:col-4">
            <app-stock-suggestions
              [stockControl]="stockControl"
              [stockNameControl]="stockNameControl"
            ></app-stock-suggestions>
          </div>
        </div>
        <div class="grid p-fluid">
          <div class="col-12 md:col-2 lg:col-2">
            <label for="bdate">查詢起日</label>
            <p-calendar
              [showIcon]="true"
              appendTo="body"
              dateFormat="yy/mm/dd"
              dataType="string"
              formControlName="bdate"
              [showOnFocus]="false"
              id="bdate"
            >
            </p-calendar>
          </div>
          <div class="col-12 md:col-2 lg:col-2">
            <label for="edate">
              查詢迄日
              <i
                class="pi pi-question-circle ml-2"
                pTooltip="請輸入日期格式如2022/01/01，預設查詢區間近3個月"
                tooltipPosition="right"
              ></i>
            </label>
            <p-calendar
              [showIcon]="true"
              appendTo="body"
              dateFormat="yy/mm/dd"
              dataType="string"
              formControlName="edate"
              [showOnFocus]="false"
              id="edate"
            >
            </p-calendar>
          </div>
        </div>
      </div>
      <div class="grid p-fluid justify-content-end bpaas-button-row">
        <div *ngIf="buttonList.query" class="col-12 md:col-3 lg:col-2">
          <button
            type="button"
            pButton
            label="查詢"
            (click)="doQuery()"
          ></button>
        </div>
        <div *ngIf="buttonList.query" class="col-12 md:col-3 lg:col-2">
          <button
            type="button"
            pButton
            label="清除"
            class="p-button-outlined mr-2"
            (click)="onClear()"
          ></button>
        </div>
      </div>
    </p-panel>
  </form>
</div>
<div class="flex justify-content-between mb-3 align-items-center">
  <div *ngIf="queryTime">資料查詢時間：{{ queryTime }}</div>
  <!-- <div *ngIf="hasSearched && buttonList.download" class="text-right">
    <button
      pButton
      type="button"
      label="匯出 Excel"
      icon="pi pi-file-excel"
      (click)="doExportToExcel()"
    ></button>
  </div> -->
</div>
<div class="mt-3">
  <p-panel [showHeader]="false">
    <p-table
      #borrowedStockQueryTable
      [value]="FilterData"
      [columns]="tableColumns"
      [totalRecords]="FilterData.length"
      [paginator]="true"
      [rows]="10"
      dataKey="uuid"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="顯示第 {first} 至 {last} 筆，共 {totalRecords} 筆"
      [rowsPerPageOptions]="[10, 15, 20]"
      scrollHeight="75vh"
      [scrollable]="true"
      [resizableColumns]="true"
      styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
      [expandedRowKeys]="expendRows"
    >
      <ng-template pTemplate="header">
        <tr id="bpaas-table-header">
          <th
            *ngFor="let column of tableColumns"
            [pSortableColumn]="column.sortable ? column.field : ''"
            [pSortableColumnDisabled]="
              column.sortable && column.field !== 'no' ? false : true
            "
            scope="col"
            pResizableColumn
            [id]="column.field"
          >
            {{ column.header }}
            <p-sortIcon
              *ngIf="column.sortable && column.field !== 'no'"
              [field]="column.field"
            ></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-rowIndex="rowIndex"
        let-columns="columns"
        let-expanded="expanded"
      >
        <tr [pRowToggler]="rowData" (click)="viewDetails(rowData, rowIndex)">
          <td
            *ngFor="let column of columns"
            [class.bpaas-align-right]="column.numberField"
          >
            <ng-container *ngIf="column.field === 'no'; else otherFields">
              <span style="cursor: pointer">
                {{ rowData[column.field] }}
                <i
                  class="pi p-datatable-row-icon"
                  [ngClass]="expanded ? 'pi-chevron-down' : 'pi-chevron-right'"
                ></i>
              </span>
            </ng-container>
            <ng-template #otherFields>
              <ng-container *ngIf="column.numberField">
                {{
                  rowData[column.field] ??
                    (column.numberFieldDefaultZero ? 0 : '') | dynamicDecimal
                }}
              </ng-container>
              <ng-container *ngIf="!column.numberField">
                {{ rowData[column.field] }}
              </ng-container>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData>
        <tr>
          <td colspan="20">
            <div>
              <p-tabView class="full-width-tabs">
                <p-tabPanel header="擔保品">
                  <p-table [value]="rowData.dnamtDetails" dataKey="no">
                    <ng-template pTemplate="header" let-columns>
                      <tr id="bpaas-table-header">
                        <th
                          *ngFor="let column of tableDnamtColumns"
                          [pSortableColumn]="
                            column.sortable ? column.field : ''
                          "
                          [pSortableColumnDisabled]="
                            column.sortable ? false : true
                          "
                          scope="col"
                          pResizableColumn
                        >
                          <label for="{{ column.field }}">
                            {{ column.header }}
                          </label>
                          <p-sortIcon
                            *ngIf="column.sortable"
                            [field]="column.field"
                          ></p-sortIcon>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dnamtRowData>
                      <tr>
                        <td
                          *ngFor="let column of tableDnamtColumns"
                          [class.bpaas-align-right]="column.numberField"
                        >
                          <ng-container *ngIf="column.numberField">
                            {{
                              dnamtRowData[column.field] ??
                                (column.numberFieldDefaultZero ? 0 : '')
                                | dynamicDecimal
                            }}
                          </ng-container>
                          <ng-container *ngIf="!column.numberField">
                            {{ dnamtRowData[column.field] }}
                          </ng-container>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-tabPanel>
                <p-tabPanel header="償還明細">
                  <p-table [value]="rowData.replyDetails" dataKey="no">
                    <ng-template pTemplate="header" let-columns>
                      <tr id="bpaas-table-header">
                        <th
                          *ngFor="let column of tableReplyColumns"
                          [pSortableColumn]="
                            column.sortable ? column.field : ''
                          "
                          [pSortableColumnDisabled]="
                            column.sortable ? false : true
                          "
                          scope="col"
                          pResizableColumn
                        >
                          <label for="{{ column.field }}">
                            {{ column.header }}
                          </label>
                          <p-sortIcon
                            *ngIf="column.sortable"
                            [field]="column.field"
                          ></p-sortIcon>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-replyRowData>
                      <tr>
                        <td
                          *ngFor="let column of tableReplyColumns"
                          [class.bpaas-align-right]="column.numberField"
                        >
                          <ng-container *ngIf="column.numberField">
                            {{
                              replyRowData[column.field] ??
                                (column.numberFieldDefaultZero ? 0 : '')
                                | dynamicDecimal
                            }}
                          </ng-container>
                          <ng-container *ngIf="!column.numberField">
                            {{ replyRowData[column.field] }}
                          </ng-container>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-tabPanel>
              </p-tabView>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [colSpan]="tableColumns.length + 1">沒有符合條件的資料</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
<div class="mt-3">
  <p-panel header="合計" [toggleable]="true">
    <p-table
      [value]="FilterTotalData"
      [columns]="totalTableColumns"
      [totalRecords]="FilterTotalData.length"
      [paginator]="false"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="顯示第 {first} 至 {last} 筆，共 {totalRecords} 筆"
      [rowsPerPageOptions]="[10, 15, 20]"
      scrollHeight="75vh"
      [scrollable]="true"
      [resizableColumns]="true"
      styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr id="bpaas-table-header">
          <th
            *ngFor="let column of totalTableColumns"
            scope="col"
            pResizableColumn
            [id]="column.field"
          >
            {{ column.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td
            *ngFor="let column of columns"
            [class.bpaas-align-right]="column.numberField"
          >
            <ng-container *ngIf="column.numberField">
              {{
                rowData[column.field] ??
                  (column.numberFieldDefaultZero ? 0 : '') | dynamicDecimal
              }}
            </ng-container>
            <ng-container *ngIf="!column.numberField">
              {{ rowData[column.field] }}
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [colSpan]="tableColumns.length + 1">沒有符合條件的資料</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
